.header {
	margin: 0.6em 0;
	color: #1E5887;
}
.leftPanel {
	position: absolute;
	top: 1em;
	left: 3em;
}

.cityPhoto {
	width: 320px;
	height: 420px;
	object-fit: cover;
	float: left;
}

.cityLabel {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	float: left;
	color: #1E5887;
	margin: 0 0.2em;
}