.header {
	color: #1E5887;
}
.leftPanel {
	position: absolute;
	top: 1em;
	left: 3em;
}

.cityPhoto {
	width: 320px;
	height: 420px;
	object-fit: cover;
	float: left;
	margin: 0.6em 0;
}
